autopep8
bcrypt
beautifulsoup4
blinker
bs4
certifi
chardet
click
colorama
contourpy
cryptography
cycler
fasteners
fonttools
future
GitPython
httplib2
importlib-metadata
kiwisolver
lockfile
Mako
MarkupSafe
matplotlib
monotonic
more-itertools
numpy
oauthlib
packaging
pandas
paramiko
Pillow
protobuf
pyparsing
PyJWT
PyNaCl
python-dateutil
pytz
PyYAML>=6.0
requests>=2.25.1
seaborn
six
smmap
soupsieve
tqdm
tzdata
urllib3
wget
zipp
